---
layout: base
eleventyExcludeFromCollections: true
---
{% set title = "Search ChrisHubbs.com" %}
{% block content %}
  <div class="field">
    <label for="searchField">Search</label>
    <input type="search" placeholder="Search..." id="searchField">
  </div>
  <ol id="searchResults"></ol>
  <div id="noResultsFound" style="display: none">
    <p>No results found.</p>
  </div>
  <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"
></script>
  <script type="text/javascript" src="/js/search.js"></script>
{% endblock %}